<div data-role="view" data-title="Edit" data-model="app.personListView.editItemViewModel" data-bind="events: { show: onShow }" id="personListViewModelEditItemView">
    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <span data-bind="text: currentItem.Text" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis; text-align: center; display: block; margin-left: 70px; margin-right: 70px;" data-role="view-title"></span>
            <a data-role="backbutton" data-align="left">Cancel</a>
            <a data-role="button" data-align="right" data-bind="events: { click: onSaveClick }">Save</a>
        </div>
    </header>
    <!-- START_CUSTOM_CODE_personListViewModel -->
    <!-- END_CUSTOM_CODE_personListViewModel -->
    <div id="editableListForm14" class="form-view">
        <form>
            <ul class="form-content" data-role="listview" data-style="inset">
                <li>

                    <label>Name
                        <input id="fullname" data-bind="value: editFormData.fullname" type="text">
                    </label>

                </li>
                <li>
                    <label>Company
                        <select data-bind="value: editFormData.dropdownlistCompany" data-role="dropdownlist">
                            <option value="First Option">First Option</option>
                            <option value="Second Option">Second Option</option>
                            <option value="Third Option">Third Option</option>
                        </select>
                    </label>
                </li>
            </ul>
        </form>
        <!-- START_CUSTOM_CODE_editableListForm14 -->
        <!-- END_CUSTOM_CODE_editableListForm14 -->
    </div>
</div>